<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ Twistoast - AndroidManifest.xml
  ~ Copyright (C) 2013-2016 Baptiste Candellier
  ~
  ~ Twistoast is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Twistoast is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.outadev.twistoast">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.LOCATION"
        android:required="false" />

    <application
        android:name=".ApplicationTwistoast"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:theme="@style/Twistoast.Theme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Twistoast.Theme.Splash"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityNewStop"
            android:label="@string/title_activity_add_stop"
            android:theme="@style/Twistoast.Theme.NewStopActivity" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <receiver
            android:name=".background.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".background.NextStopAlarmReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".background.TrafficAlertAlarmReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".background.PebbleWatchReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.getpebble.action.app.RECEIVE" />
                <action android:name="com.getpebble.action.app.RECEIVE_ACK" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
